.wishlist{
    .heading{
        p{
            font-size: 32px;
            text-align: center;
            margin: 30px;
            letter-spacing: 1px;
            color: gray;

        }
    }
    .array{
        max-width: 950px;
        margin: auto;
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }
}

.emptywishlist{
    min-height: 328px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    h1{
        margin-bottom: 0px;
        text-transform: capitalize;
        font-weight: 100;
        font-size: 30px;
    }
    .doshop{
        color: #4285f4;
    }
}